body {
    font-family: 'EB Garamond', serif;
}

/* @font-face {

	font-family: 'AGaramondPro-Regular';
    src: url('fonts/AGaramondPro-Regular.otf'),
	src: url('fonts/AGaramondPro-Regular.otf?#iefix') format('embedded-opentype');
	font-weight: normal;
    font-style: normal;
}
@font-face {

	font-family: 'AGaramondPro-Italic';
    src: url('fonts/AGaramondPro-Italic.otf'),
	src: url('fonts/AGaramondPro-Italic.otf?#iefix') format('embedded-opentype');
	font-weight: normal;
    font-style: normal;
} */
.landing_images {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.main_title {
    font-family: 'EB Garamond', serif;
    letter-spacing: 2px;
    font-size: 37px;
    position: absolute;
    bottom: 10rem;
    margin: 0;
    text-align: center;
    left: 0;
    right: 0;
    color: #fff;
}

.site_logo img {
    max-width: 333px;
}

.info_title {
    padding: 70px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #fff;
}

.contact .wrapper {
    padding: 8rem 0;
}

.contact_info a {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 160px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    transition: .2s ease-out;
    z-index: 1000;
}

.contact_info a:hover {
    text-decoration: none;
    color: #c3c1c1;
}

.main__head_title h1 {
    text-align: center;
    letter-spacing: 4px;
    font-size: 46px;
    margin-bottom: 15px;
}

.liner_divider {
    width: 48px;
    background: #0c0c0c;
    height: 3px;
    display: block;
    margin: auto;
    text-align: center;
}

.line_manager {
    letter-spacing: 0.2px!important;
}

.pipe_case {
    margin: 0 5px 0 5px;
}

.less__smaller {
    font-size: 14px!important;
}

.more_one_px {
    font-size: 47px!important;
}

.group_info_title h3, .group_info_title p {
    text-align: center;
    color: #000;
    font-size: 17px;
    margin: 0;
    padding-bottom: 12px;
    letter-spacing: 1px;
}

.group_info_title a {
    color: #000;
    font-size: 17px;
    letter-spacing: 1px;
}

.micro__spacer {
    height: 15px;
}

.tiny_blank_divider {
    height: 25px;
}

.blank_divider {
    height: 35px;
}

.big_blank_divider {
    height: 180px;
}

.small_blank_divider {
    height: 10px;
}

.padding_less {
    padding-bottom: 5px!important;
}

.main_c_title {
    font-size: 23px!important;
    letter-spacing: 2px!important;
    padding-bottom: 5px!important;
}

.main_s_title {
    font-size: 23px!important;
    padding-bottom: 20px!important;
}

.main_city_title {
    padding-bottom: 15px!important;
}

.medium_blank_divider {
    height: 96px;
}

.w-80 {
    width: 85%!important;
}

.store__info {
    line-height: 22px;
}

.lh28 .address {
    line-height: 22px;
    font-size: 17px;
    letter-spacing: 1px;
}

.tel__no {
    font-size: 17px;
}

.custom_title {
    font-size: 17px;
    text-transform: uppercase;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-content {
    border: 0;
    border-radius: 0;
}

.close__btn {
    text-align: center;
    display: block;
    margin: auto;
    background: transparent;
    border: 1px solid #000;
    padding: 5px 25px 5px 25px;
    cursor: pointer;
    transition: .2s ease-out;
}

.close__btn:hover {
    background: #000;
    color: #fff;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
    font-size: 2rem;
}

.modal-header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
}

.follow_us {
    display: inline-flex;
    position: absolute;
    right: 5%;
    top: 15px;
}

.follow_us h2 {
    margin: 3px 0 3px 0;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.follow_us ul {
    padding: 0;
    margin: -3px 0 0 8px;
    list-style-type: none;
}

.follow_us ul li {
    display: inline-block;
    margin-right: 6px;
    max-width: 16px;
}

.follow_us ul li a {
}

.index2 .info_title {
    padding: 30px 0;
}

.index2 .site_logo img {
    max-width: 250px;
}

.index2 .follow_us {
    top: -15px;
}

.index2 .main_title {
    bottom: 12rem;
    position: fixed;
}

.index2 .off__img {
    margin-bottom: 135px;
}

@media only screen and (max-width: 1920px) {
    .contact_info a {
        /* 		top: 100px;
		right: 135px; */
    }

    .follow_us {
        /* right: -258px; */
    }
}

@media only screen and (max-width: 1440px) {
    .contact_info a {
        /* 		top: 70px;
		right: 70px; */
    }

    .follow_us {
        /* right: -80px; */
    }
}

@media only screen and (max-width: 1366px) {
    .contact_info a {
        /* 		top: 66px;
		right: 59px; */
    }

    .follow_us {
        /* 	right: -50px; */
    }
}

@media only screen and (max-width: 1024px) {
    .landing_images {
        height: auto;
        overflow: inherit;
    }

    .off__img {
        display: none!important
    }

    .on__img {
        background-image: url('../images/main_banner-mobile.jpg');
        background-size: cover;
        background-position: 100% top;
    }

    .index2 .on__img {
        height: 100vh;
        margin-bottom: 213px;
    }

    .info_title {
        position: static;
    }

    .contact_info a {
        /* 		top: 68px;
		right: 68px; */
    }

    .follow_us {
        display: block;
        position: static;
        right: 0;
        top: initial;
        left: 0;
        margin: 2rem 0 0 0;
        text-align: center;
    }

    .follow_us h2 {
        margin: 0 0 10px 0px;
    }

    .main_title {
        bottom: 5rem;
    }

    .index2 .main_title {
        bottom: 17rem;
    }

    .br_none {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .info_title {
        padding: 70px 0;
    }

    .index2 .main_title {
        bottom: 13rem;
    }

    .index2 .follow_us {
        display: none;
    }

    .index2 .on__img {
        margin-bottom: 136px;
    }

    .index2 #social-media {
        /* display: block!important; */
    }
}

@media only screen and (max-width: 440px) {
    .contact_info a {
        /* 		top: 28px;
		right: 18px; */
    }

    .site_logo img {
        max-width: 200px;
    }

    .main_title {
        bottom: 2rem!important;
    }

    .main_title {
        font-size: 22px;
    }

    .index2 .main_title {
        bottom: 12rem!important;
    }
}

@media only screen and (max-width: 375px) {
    .contact_info a {
        /* 		top: 25px;
		right: 20px; */
    }

    .main_title {
        font-size: 18px;
    }
}

.s-icon {
    position: fixed;
    top: 37px;
    left: 37px;
    display: inline-block;
    height: 36px;
    width: 36px;
    margin: 4px;
    background-color: #fff;
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,.28);
    transition: all ease-in 200ms;
}

button.icon-media {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 9;
    height: 56px;
    width: 56px;
    margin: 0;
    padding: 0;
    background: #ffffff;
    border: none;
    border-radius: 30px;
    opacity: 1;
    content: "";
    cursor: pointer;
    outline: 0;
}

button.icon-media.open {
    box-shadow: 0 6px 12px rgba(0,0,0,.32);
}

.fb-ico i, .twt-ico i, .lin-ico i,.yt-ico i, .wht-ico i {
    font-size: 18px;
    color: #000;
    text-align: center;
    display: block;
    line-height: 38px;
}

.icon-media i {
    font-size: 25px;
    line-height: 60px;
}

button.icon-media i {
    transition: all ease-in 200ms;
}

button.icon-media i:before {
    transform: rotate(0deg);
    transition: all ease-in 200ms;
}

button.icon-media.open i {
    transform: rotate(180deg);
}

button.icon-media.open i:before {
    transform: rotate(270deg);
}

.icon-whatsapp {
    background-color: #fff;
}

.icon-whatsapp.open {
    z-index: 5;
    top: 247px;
}

.icon-email {
    background-color: #fff;
}

.icon-email.open {
    z-index: 5;
    top: 196px;
}

.icon-linkedin {
    background-color: #fff;
}

.icon-linkedin.open {
    z-index: 6;
    top: 146px;
}

.icon-twitter {
    background-color: #fff;
}

.icon-twitter.open {
    z-index: 7;
    top: 96px;
}

.icon-facebook {
    background-color: #fff;
}

.icon-facebook.open {
    z-index: 8;
    top: 92px;
}

.index2 #social-media {
    display: none;
}

.off__img {
    margin: auto;
    display: block;
}
